<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= pgTitle %></title>
  <% if(system.bstrap4css) { %> <%- include('./header_items/link_bstrap4.ejs')
  %> <% } %> <%- include('./header_items/link_style.ejs') %>
</head>
