<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/header.ejs', {system}) %>
  <body>
    <%- include('./includes/reg_user_frm.ejs') %>
    <div>
        <a href="/login">user login</a>
      </div>
      <div>
        <a href="/">back to main</a>
      </div>
    </div>
    <%- include('./includes/scripts.ejs') %> <%- include('./includes/footer.ejs') %>
  </body>
</html>
